In [6]:
print("Try to solve\nan exercise by filling\nin the missing parts of a code.")

Try to solve
an exercise by filling
in the missing parts of a code.

In [11]:
"""Try to solve an exercise
by filling in the missing 
parts of a code."""
print("Try to solve an exercise by filling in the missing parts of a code.")

Try to solve an exercise by filling in the missing parts of a code.

In [14]:
a=2
b=3
ans1=a+b
print("Addition of a and b is",ans1)
ans2=a-b
print("Substraction of a and b is",ans2)

Addition of a and b is 5
Substraction of a and b is -1

In [15]:
a="harry"
print(a[-4:-2])

ar

In [73]:
import time
hour=int(input('Time:'))

if(hour>=0 and hour<12):
    print("Good Morning")
elif(hour>=12 and hour<17):
    print("Good Afternoon")
elif(hour>=17 and hour<20):
    print("Good Evening")
else:
    print("Good Night")

Time:1
Good Morning

In [12]:
n="a,m,a,a,m,a"
if n==reversed(n):
    print("Palindrome")
else:
    print("NP")

NP

In [14]:
# code
string ="a,m,a,a,m,a"
print("the string is palindrome" if string==reversed(string) else "the string is not palindrome")

the string is not palindrome

In [20]:
string = 'amaama'
half = int(len(string) / 2)


first_str = string[:]
second_str = string[:]


# symmetric
if first_str == second_str:
	print(string, 'string is symmetrical')
else:
	print(string, 'string is not symmetrical')

# palindrome
if first_str == second_str[::-1]: # ''.join(reversed(second_str)) [slower]
	print(string, 'string is palindrome')
else:
	print(string, 'string is not palindrome')

amaama string is symmetrical
amaama string is palindrome

In [24]:
s="amaama"
half=int(len(s)/2)

first_str=s[:half]
second_str=s[half:]

if first_str==second_str[::-1]:
    print(s,"is palindrome")
else:
    print(s,"is not palindrome")

amaama is palindrome

In [25]:
# code
string ="amaama"
print("the string is palindrome" if string==reversed(string) else "the string is not palindrome")

the string is not palindrome

In [35]:
str =" geeks quiz practice code"
reverse=str[::-1]
print(reverse)

edoc ecitcarp ziuq skeeg

In [36]:
# Python code
# To reverse words in a given string

# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
	# appending reversed words to l
	l.append(i)
# printing reverse words
print(" ".join(l))

code practice quiz geeks

In [38]:
str="code practice quiz geeks"
a=str[::-1]
print(a)

skeeg ziuq ecitcarp edoc

In [42]:
str="code practice quiz geeks"
s=str.split()[::-1]
l=[]
for i in s:
    l.append(i)
print(l)
print(" ".join(l))

['geeks', 'quiz', 'practice', 'code']
geeks quiz practice code

In [43]:
str = "my name is laxmi"
s=str.split()[::-1]
l=[]
for i in s:
    l.append(i)
print(" ".join(l))

laxmi is name my

In [49]:
str='Geeks123For123Geeks'
print(str.replace("123",""))

GeeksForGeeks

In [51]:
str= 'hello world !'
print(len(str))

13

In [27]:
def findlen(n):
    count=0
    for i in n:
        count+=1
    return count
 

print(findlen("Shubham"))

7

In [74]:
str = "geeksforgeeks 33 best"
print("Lenght of str is:",str)
print(len(str))
str=str.replace(" ","")
print("Lenght of str after avoiding spaces is:",len(str))

Lenght of str is: geeksforgeeks 33 best
21
Lenght of str after avoiding spaces is: 19

In [77]:
# Python3 code to demonstrate working of 
# Avoid Spaces in Characters Frequency
# Using isspace() + sum()

# initializing string
test_str = 'geeksforgeeks 33 is best'

# printing original string
print("The original string is : " + str(test_str))

# isspace() checks for space 
# sum checks count 
res = sum(not chr.isspace() for chr in test_str)
	
# printing result 
print("The Characters Frequency avoiding spaces : " + str(res))

TypeError: 'str' object is not callable

In [80]:
ques1=["Current Railway Minister of India is"]
print(["A.Mamta Banarjee B.Ram Vilash C.Ashwini Vaishnaw D.Piyush Goyal"])
ques1=input()

['A.Mamta Banarjee B.Ram Vilash C.Ashwini Vaishnaw D.Piyush Goyal']
c

In [7]:
def fibonachi(n):
    if( n==1):
        return 1
    else:
        return ( fibonachi(n-1 + n-2))
    
print(fibonachi(2))
print(fibonachi(3))

1

RecursionError: maximum recursion depth exceeded in comparison

In [11]:
a="maximum recursion depth exceeded in comparison"
b=a.split()[::-1]
l=[]
for i in b:
    l.append(i)
print(" ".join(l))

comparison in exceeded depth recursion maximum

In [19]:
a="maximum recursion depth exceeded in comparison"
b=a[::-1]
print(b)

nosirapmoc ni dedeecxe htped noisrucer mumixam

In [21]:
a="maximum recursion depth exceeded in comparison"
print(a.replace("in",""))

maximum recursion depth exceeded  comparison

In [22]:
a="maximum recursion depth exceeded in comparison"
print(len(a))

46

In [33]:
a="maximum recursion depth exceeded in comparison"

def findlen(a):
    count=0
    for i in a:
        count+=1
    return count

print(findlen(a))

46

In [37]:
a="maximum recursion depth exceeded in comparison"
b=a.replace(" ","")
print(len(b))

41

In [61]:
s = "Thi is a python language"
a=s.split(" ")
for i in a:
    if len(i)%2==0:
        print(i)

is
python
language

In [5]:
s = "i am laxmi"
a=s.split()
for i in a:
    if len(i)%2==0:
        print(i)

am

In [51]:
s = "This is a python language"
a=s.split()[1::2]
print(a)

['is', 'python']

In [81]:
test = 'geeksforgeek'
lent=len(test)//2 
first=test[0:lent]
second=test[lent::]
print(first.upper() + second)

GEEKSForgeek

In [83]:
str = 'apples'
x=len(str)//2
first=str[:x]
second=str[x::]
print(first + second.upper())

appLES

In [12]:
a="welcome to form geeksforgeeks"
b=a.split()
l=[]
for i in b:
    x= i[0].upper()+i[1:-1]+i[-1].upper()
    l.append(x)
l=" ".join(l)
print(l)

WelcomE TO ForM GeeksforgeekS

In [8]:
# Python program to capitalize
# first and last character of
# each word of a String

s = "welcome to geeksforgeeks"
a = s.split()
res = []
for i in a:
	x = i[0].upper()+i[1:-1]+i[-1].upper()
	res.append(x)
res = " ".join(res)
print( res)

WelcomE TO GeeksforgeekS

In [14]:
a="welcome2ourcountry34"
print(a.isalnum())

True

In [16]:
a="welcome to our country"
b=a.split()
l=[]
for i in b:
    x=i[0].upper()+i[1:-1]+i[-1].upper()
    l.append(x)
l=" ".join(l)
print(l)

WelcomE TO OuR CountrY

In [17]:
a="welcome2ourcountry34"
print(a.isalnum())

True

In [32]:
str1 = 'abcdef'
str2 = 'defghia'
string=((set(str1)).intersection(set(str2)))
print("No of Comman char are:",string)

No of Comman char are: {'d', 'e', 'a', 'f'}

In [35]:
str="GeeksforGeeks"
vowels="aeiouAEIOU"

TypeError: must be str, not type

In [40]:
string = "GeekforGeeks!"
vowels = "aeiouAEIOU"

count=sum(string.count(vowel) for vowel in vowels)
print(count)

5

In [53]:
a="geeksforgeeks"       #geksfor
b=(set(a))
c="".join(b)
print("len is:",len(c),c) #geksfor

len is: 7 srgfoek

In [9]:
test = 'geekforgeeks'
a=test.split(" ")
for i in test:
    if len(i)%2!=0:
        print(i)

g
e
e
k
f
o
r
g
e
e
k
s

In [13]:
a=[12, 35, 9, 56, 24]
a[0]=24
a[-1]=12
print(a)

[24, 35, 9, 56, 12]

In [12]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for idx,val in enumerate(ls):
    print(idx,val)

0 ('ram', 19)
1 ('shyam', 21)
2 ('rohan', 16)
3 ('sohan', 25)

In [14]:
a=[12, 35, 9, 56, 24]
def swap(a):
    a[0],a[-1]=a[-1],a[0]
    return a
print(swap(a))

[24, 35, 9, 56, 12]

In [15]:
 List = [23, 65, 19, 90]
List[0],List[2]=List[2],List[0]
print(List)

[19, 65, 23, 90]

In [21]:
List = ['Gfg', 'is', 'best', 'for', 'Geeks']
List[1],List[4]=List[4],List[1]
print(List)

['Gfg', 'Geeks', 'best', 'for', 'is']

In [29]:
List = ['Gfg', 'is', 'best', 'for', 'Geeks']
# a=[sub.replace("G","i") for sub in List]
a = [sub.replace('G', 'o').replace('e', 'G').replace('t', 'e') for sub in List]
print(a)

['ofg', 'is', 'bGse', 'for', 'oGGks']

In [30]:
lst = [10,20,30,40]
print(len(lst))

4

In [31]:
a = 2
b = 4
if a>b:
    print("a is Greater:",a)
else:
    print("b is greater:",b)

b is greater: 4

In [33]:
a = -1
b = -4
if a>b:
    print("a is Greater:",a)
else:
    print("b is greater:",b)

a is Greater: -1

In [49]:
list = [1, 6, 3, 5, 3, 4]
for idx,i in enumerate(list):
    if (i==6):
        print("At idx:",idx,"=",i,"Exit")

At idx: 1 = 6 Exit

In [50]:
a=[2, 3, 5, 6, 7]
print(a.clear())

None

In [2]:
list = [4, 5, 6, 7, 8, 9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4]

In [3]:
list = [4, 5, 6, 7, 8, 9]
list2=list.copy()
print(list2)

[4, 5, 6, 7, 8, 9]

In [4]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
print(lst.count(10))

3

In [6]:
a=[4, 5, 1, 2, 9, 7, 10, 8]
def add(n):
    sum=0
    for i in a:
        sum+=i
    print(i)
print(add(a))

8
None

In [12]:
a=[4, 5, 1, 2, 9, 7, 10, 8]
b=sum(a)
c=sum(a)/len(a)
print(b,c)

46 5.75

In [15]:
list = [12, 67, 98, 34]
l=[]
sum=0
for i in list:
    sum+=i
    l.append(sum)
print(l)

[12, 79, 177, 211]

In [24]:
from functools import reduce
list1 = [1, 2, 3]
a=reduce((lambda x,y:x*y),list1)
print(a)

6

In [26]:
list1 = [3, 2, 4]
from functools import reduce
a=reduce((lambda x,y:x*y),list1)
print(a)

24

In [10]:
list2 = [20, 10, 20, 1, 100]
list2.sort()
print(list2)
print("smallest no is:",list2[0])

[1, 10, 20, 20, 100]
smallest no is: 1

In [11]:
list2 = [20, 10, 20, 1, 100]
list2.sort(reverse=True)
print(list2)
print("Largest no is:-",list2[0])

[100, 20, 20, 10, 1]
Largest no is:- 100

In [2]:
list1 = [20, 10, 20, 1, 100]
a=list(set(list1))  #list2 = list(set(list1))
a.sort(reverse=True)
print(a)
# print("2nd largest no is:-",list2[1])

[100, 20, 10, 1]

In [20]:
list1 = [2, 7, 5, 64, 14]
l=[]
for i in list1:
    if (i%2==0):
        l.append(i)
print("Even",l)

Even [2, 64, 14]

In [26]:
list1 = [2, 7, 5, 64, 14]
even=list(filter(lambda x:(x%2==0),list1) )   #list(filter(lambda x: (x % 2 == 0), list1))
print(even)

[2, 64, 14]

In [28]:
list1 = [2, 7, 5, 64, 14]
odd=list(filter(lambda x:(x%2!=0),list1))
print(odd)

[7, 5]

In [32]:
l=[]
for i in range(4,16):
     if (i%2!=0):
        l.append(i)
print(l)

[5, 7, 9, 11, 13, 15]

In [38]:
list1 = [2, 7, 5, 64, 14]
even=0
odd=0
for i in list1:
    if i%2==0:
        even+=1
    else:
        odd+=1
print("Count of even no:",even)
print("Count of odd no:" ,odd)

Count of even no: 3
Count of odd no: 2

In [47]:
list1 = [12, -7, 5, 64, -14]
l=[]
for i in list1:
    if i>=0:
        l.append(i) 

print("Postive No. :-",l)

Postive No. :- [12, 5, 64]

In [46]:
list1 = [12, -7, 5, 64, -14]
l=[]
for i in list1:
    if i<=0:
        l.append(i) 

print("Negative No. :-",l)

Negative No. :- [-7, -14]

In [44]:
# list1 = [12, -7, 5, 64, -14]
l=[]
for i in range(-4,6):
    if i>=0:
        l.append(i) 

print("Postive No. :-",l)

Postive No. :- [0, 1, 2, 3, 4, 5]

In [48]:
list1 = [2, -7, 5, -64, -14]
pos=0
neg=0
for i in list1:
    if i>=0:
        pos+=1
    else:
        neg+=1
print("Count of Postive no :-",pos)
print("Count of Negative no :-",neg)

Count of Postive no :- 2
Count of Negative no :- 3

In [51]:
list1 = [11, 5, 17, 18, 23, 50] 

for i in list1:
    if i%2==0:
        list1.remove(i)
print(list1)

[11, 5, 17, 23]

In [65]:
tuples =  [(), ('ram','15','8'), (), ('laxman', 'sita'), 
          ('krishna', 'akbar', '45'), ('',''),()]
t=[]
for i in tuples:
    if i:
        t.append(i)
print(t)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [63]:
l = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
b=[]
for i in l:
    if i:
        b.append(i)
print(b)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [69]:
l = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

for i in l:
    if not i:
        l.remove(i)

print(l)

[(), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [5]:
list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
a=[]
for i in list1:
    if i not in a:
        a.append(i)
print(a)

[10, 20, 30, 40, 50, -20, 60]

In [34]:
test = [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
t=[]
print("The orignal list",test)
k=6
for i in test:
    if all(j%k==0 for j in i):
        t.append(i)
print(t)

The orignal list [(6, 24, 12), (7, 9, 6), (12, 18, 21)]
[(6, 24, 12)]

In [32]:
test_list = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, -6)] 
t=[]
for i in test_list:
    if all(j>0 for j in i):
        t.append(i)
print(t)

[(4, 5, 9)]

In [35]:
test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)
t=tuple(set(test_tup))
print(t)

(1, 2, 3, 5)

In [44]:
test_tup = ([4, 7, 8], [1, 2, 3], [4, 7, 8], [9, 10, 11], [1, 2, 3])
t=[]
for i in test_tup:
    if all(i not in t for j in i ):
        t.append(i)
print(t)

[[4, 7, 8], [1, 2, 3], [9, 10, 11]]

In [55]:
test_list = [(15, 3), (3, 9)] 
# Output : [9, 5, 3, 1]
for i in test_list:
    for j in i:
        print(j,i)

15 (15, 3)
3 (15, 3)
3 (3, 9)
9 (3, 9)

In [49]:
test_list1 = [(10, 4), (2, 5)] 
test_list2 = [(10, 4), (2, 5)] 
if test_list1==test_list2:
    print("its similar")
else:
    print("not smillar")

its similar

In [66]:
Tuple1 = ("A", 1, "B", 2, "C", 3)
import sys
print(sys.getsizeof(Tuple1),"Bytes")

88 Bytes

In [65]:
Tuple1 = ("A", 1, "B", 2, "C", 3)
print(Tuple1.__sizeof__(),"Bytes")

72 Bytes

In [8]:
tup = (3, 7, 1, 18, 9)
k = 2 
#Output : (3, 1, 9, 18)

tup=list(tup)
temp = sorted(tup)
a=tuple(temp[:k] + temp[-k:])
print(a)

(1, 3, 9, 18)

In [18]:
test_tup = (5, 20, 3, 7, 6, 8)
t=0
for i in test_tup:
    t+=i
print(t)
    
   # res = [[(idx, val) for idx in key] for key,  val in zip(test_list, cus_eles)]

49

In [28]:
test_list = [[('Gfg', 3), ('is', 3)], [('best', 1)], [('for', 5), ('geeks', 1)]]
cus_eles = [6, 7, 8]
s=[[(idx,val) for idx in key] for key,val in zip(test_list,cus_eles)]
print(s)
# s=list(zip(test_list,cus_eles))
print(s)

[[(('Gfg', 3), 6), (('is', 3), 6)], [(('best', 1), 7)], [(('for', 5), 8), (('geeks', 1), 8)]]
[[(('Gfg', 3), 6), (('is', 3), 6)], [(('best', 1), 7)], [(('for', 5), 8), (('geeks', 1), 8)]]

In [40]:
list = [1, 2, 3]
# Output: [(1, 1), (2, 8), (3, 27)]
t=[]
for i in list:
    a=(i,i**3)
    t.append(a)
print(t)

[(1, 1), (2, 8), (3, 27)]

In [1]:
test_list = [5, 6, 7]

# printing original list
print("The original list is : " + str(test_list))

# initializing tuple 
test_tup = (9, 10)

a=test_list+list(test_tup)
print(a)

The original list is : [5, 6, 7]
[5, 6, 7, 9, 10]

In [7]:
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 6, 7, 5)
t=[]
for i in range(0,len(test_tup1)):
    a=test_tup1[i]%test_tup2[i]
    t.append(a)
print(tuple(t))

(0, 4, 5, 1)

In [24]:
test_list = [(1, 3, 4), (2, 4, 6), (3, 8, 1)]
k=4

t = [tuple(j + k for j in i ) for i in test_list]
print(t)

[(5, 7, 8), (6, 8, 10), (7, 12, 5)]

In [38]:
test_tup = (1, 5, 7, 8, 10)
a=list(test_tup)
t=[]
mul=1
for i in a:
    mul*=i
    t.append(mul)
t=tuple(i*j for i,j in zip(test_tup,test_tup[1:]))
print(t)

(5, 35, 56, 80)

In [37]:
list = [12, 67, 98, 34]
l=[]
sum=0
for i in list:
    sum+=i
    l.append(sum)
print(l)
res = tuple(i * j for i, j in zip(test_tup, test_tup[1:])) 
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : (5, 35, 56, 80)

SyntaxError: invalid syntax (858071714.py, line 9)

In [1]:
test = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
t=[]
x=[]
for i in test:
    if i[0] not in t:
        t.append(i[0])

for i in t:
    p=[]
    p.append(i)
    for j in test:
        if i==j[0]:
            p.append(j[1])
        x.append(p)
print(x)

[[5, 6, 7], [5, 6, 7], [5, 6, 7], [5, 6, 7], [5, 6, 7], [6, 8, 10], [6, 8, 10], [6, 8, 10], [6, 8, 10], [6, 8, 10], [7, 13], [7, 13], [7, 13], [7, 13], [7, 13]]

In [6]:
test_tuple1 = (7, 2)

test_tuple2 = (7, 8)

x=[(a,b) for a in test_tuple1 for b in test_tuple2]

y=x+[(a,b) for a in test_tuple2 for b in test_tuple1]
print(y)


# Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [15]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 3 
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
y=[]
for i in test_list:
    if len(i)!=K:
        y.append(i)
        
print(y)

[(4, 5), (4,), (1,), (3, 4, 6, 7)]

In [16]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 3 
res = [ele for ele in test_list if len(ele) != K]
print(res)

[(4, 5), (4,), (1,), (3, 4, 6, 7)]

In [23]:
test_list = [(None, 2), (None, None), (3, 4), (12, 3), (None, )] 
#Output : [(None, 2), (3, 4), (12, 3)] 
a=[]
for i in test_list:
    if :
        a.append(i)
print(a)    # res=[i for i in test_list if not all(j==None for j in i)]
# print(res)

TypeError: 'bool' object is not iterable

In [33]:
myDict = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
keys=list(myDict.keys())
keys.sort()
sotred={i:myDict[i] for i in keys}
print(sotred)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [32]:
myDict = {'ravi': 10, 'rajnish': 9,
		'sanjeev': 15, 'yash': 2, 'suraj': 32}

myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}

print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [35]:
d = { 'a' : 1 , 'b' : 2 }
print(d["c"])

KeyError: 'c'

In [41]:
dict={'a': 100, 'b':200, 'c':300}
def returnSum(dict):
    return sum(dict.values())

print( returnSum(dict))

600

In [45]:
dic1 = {"A": 1, "B": 2, "C": 3}
s=dic1.__sizeof__()
print(s,"Bytes")

216 Bytes

In [49]:
Set1 = {"A", 1, "B", 2, "C", 3}
s=Set1.__sizeof__()
print(s,"Bytes")

456 Bytes

In [50]:
test_set = set("geEks")
for i in test_set:
    print(i)

E
g
k
s
e

In [52]:
set = ([8, 16, 24, 1, 25, 3, 10, 65, 55])
#Output : max is 65
def MAX(set):
    return (max(set))

print(MAX(set))

65

In [53]:
def MIN(set):
    return (min(set))
print(MIN(set))

1

In [20]:
Set=set([12, 10, 13, 15, 8, 9])
# Set.pop()
# print(Set)
# print(Set)
# print(Set)
def POP(Set):
    while Set:
        Set.pop()
        print(Set)
POP(Set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [35]:
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
def common(a,b):
    result= False
    for x in a:
        for y in b:
            if x==y:
                result= True
                return result
    
    return result

common(a,b)

True

In [33]:
def common_data(list1, list2):
    result = False
 
    # traverse in the 1st list
    for x in list1:
 
        # traverse in the 2nd list
        for y in list2:
   
            # if one common
            if x == y:
                result = True
                return result 
                 
    return result
common_data(a,b)

True

In [41]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
def common_d(ar1,ar2,ar3):
    set1=set(ar1)
    set2=set(ar2)
    set3=set(ar3)
    
    return [ele for ele in set1 if ele in set2 and ele in set3]

common_d(ar1,ar2,ar3)

[80, 20]

In [43]:
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
def common(a,b):
    set1=set(a)
    set2=set(b)
    
    return [ele for ele in  set1 if ele in set2]

common(a,b)

[5]

In [54]:
list1 = [1, 2, 3, 4, 5, 6] 
list2 = [4, 5, 6, 7, 8] 
# Output : Missing values in list1 = [8, 7] 
#          Additional values in list1 = [1, 2, 3] 
#          Missing values in list2 = [1, 2, 3] 
#          Additional values in list2 = [7, 8] 
print("Missing value in first list:",set(list2)-set(list1))
print("Additional value in frist list:",set(list1)-set(list2))

print("Missing value in Second list:",set(list1)-set(list2))
print("Additional value in Second list:",set(list2)-set(list1))

Missing value in first list: {8, 7}
Additional value in frist list: {1, 2, 3}
Missing value in Second list: {1, 2, 3}
Additional value in Second list: {8, 7}

In [57]:
list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35] 
# Output: [10, 15, 20, 30]
r=set(list1)-set(list2)
print(r)

{10, 20, 30, 15}

In [76]:
S1 = "aacdb"
S2 = "gafd"                                                         
S3=[]
#Output : cbgf
s=(set(S1)^set(S2))
print("".join(s))

fgcb

In [77]:
print(s1&s2) #intersection
print(s1|s2) #union of two set
print(s1^s2) #xor comman items present in both
print(s1-s2) #
print(s2-s1)

NameError: name 's1' is not defined

In [79]:
mylist = ["a", "b", "a", "c", "c"]
mylist = set(mylist)
print(mylist)

{'c', 'a', 'b'}

In [22]:
class Myclass:
    def __init__(self,value):
        self._value=value
        
    def show(self):
        print(f"Value is {self._value}")
          
    @property
    def ten_value(self):
          return 10*self._value
        
    @ten_value.setter
    def ten_value(self,new_value):
        self._value=new_value/10
        

obj=Myclass(10)
obj.ten_value=67
print(obj.ten_value)
obj.show()

67.0
Value is 6.7

In [10]:
class Employee:
    def __init__(self,name,id):
        self.name=name
        self.id=id
        
    def showDetails(self):
        print(f"The name of employee is :{self.name} and Id is :{self.id}")
        
class Programmer(Employee):
    def showLanguage(self):
        print("The default language is Python")
        
# e=Employee("Shubham",215)
# e.showDetails()

e=Programmer("Ritik",216)
e.showDetails()
e.showLanguage()

The name of employee is :Ritik and Id is :216
The default language is Python

In [100]:
class Employee:
    def __init__(self,name):
        self.__name=name
    def getName(self):
        return self.__name
e=Employee("Shubham")
print(e.getName())

Shubham

In [20]:
class Library:
    def __init__(self):
        self.no_books=0
        self.book=[]
       
        
    def add_books(self,books):
        self.book.append(books)
        self.no_books=len(self.book)
    
    def showInfo(self):
        print(f"The librabry has {self.no_books} books:{self.book}")


a=Library()
a.add_books("TMKOC")
a.add_books("OC")
a.add_books("KOC")
a.showInfo()

The librabry has 3 books:['TMKOC', 'OC', 'KOC']

In [25]:
class MyClass:
    class_variable = 0
    
    def __init__(self):
        MyClass.class_variable += 1
        
    def print_class_variable(self):
        print(MyClass.class_variable)
        

obj1 = MyClass()
obj2 = MyClass()

obj1.print_class_variable()# Output: 2
obj2.print_class_variable() # Output: 2

2
2

In [97]:
class MyClass:
    def __init__(self, name):
        self.name = name
        
    def print_name(self):
        print(self.name)

obj1 = MyClass("John")
obj2 = MyClass("Jane")
print(obj1.name) # Output: John
obj2.name() # Output: Jane

John

TypeError: 'str' object is not callable

In [14]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
        
    def make_sound(self):
        print("Sound made by the animal")
        
class Dog(Animal):
    def __init__(self,name,breed):
        Animal.__init__(self,name,species="RAT")
        self.breed=breed
            
    def make_sound(self):
        print("Barke")
        
a=Dog("Bull","DOg")
print(a.name,a.breed)
a.make_sound()
b=Animal("Cat",'RAT')
b.make_sound()

Bull DOg
Barke
Sound made by the animal

In [21]:
class Animal:
    def __init__(self,name):
        self.name=name
        
    def sound(self):
        print("Sound made by animal")
class Cat(Animal):
    def __init__(self,breed):
        Animal. __init__(self,name="Cat")
        self.breed=breed
        
    def sound(self):
        print("Mhewww")
        
a= Animal("cat")
a.sound()

Sound made by animal

# MUltiple Inheritence

In [29]:
class Employee():
    def __init__(self,name):
        self.name=name
    
    def show(self):
        print(f"The name is {self.name}")
        
class Dancer():
    def __init__(self,dance):
        self.dance=dance
    def show(self):
        print(f"Dance is {self.dance}")
    
class EmployeeDancer(Dancer,Employee):
    def __init__(self,name,dance):
        self.name=name
        self.dance=dance
        
    def show(self):
        print(f"Name is {self.name} and Dance is {self.dance}")
        
o=EmployeeDancer("Ritik","HipHop")
o.show()

Name is Ritik and Dance is HipHop

In [37]:
class Animal:
    def __init__(self,name):
        self.name=name
        
    def sound(self):
        print("Sound by Animal")
        
class Dog(Animal):
    def __init__(self,breed):
        Animal.__init__(self,name="Bull")
        self.breed=breed
        
    def sound(self):
        print("barke")
        
o=Animal("Ger")
print(o.name)
o.sound()
o1=Dog("Lab")
print(o1.name,o1.breed)
o1.sound()

Ger
Sound by Animal
Bull Lab
barke

# MULTIPLE -- 1 CHILD MULTIPLE PARENTS

In [42]:
class Employee:
    def __init__(self,name):
        self.name=name
        
    def show(self):
        print(f"Name is {self.name}")
        
class Dancer:
    def __init__(self,dance):
        self.dance=dance
        
    def show(self):
        print(f"Dance is {self.dance}")
        
class EmployeeDancer(Employee,Dancer):
    def __init__(self,name,dance):
        self.name=name
        self.dance=dance
        
    def show(self):
        print(f"Name is {self.name} and Dance is {self.dance}")
        
o=EmployeeDancer("Ritik","HipHop")
o.show()

o1=Employee("Sonika")
o1.show()
o2=Dancer("Style")
o2.show()

Name is Ritik and Dance is HipHop
Name is Sonika
Dance is Style

In [2]:
class Base: 
    def __init__(self): 
        self.a = "GeeksforGeeks"
        self.__c = "GeeksforGeeks" 
  
# Creating a derived class 
class Derived(Base): 
    def __init__(self): 
  
        # Calling constructor of 
        # Base class 
        Base.__init__(self) 
        print("Calling private member of base class: ") 
        print(self.__c) 
  
  
# Driver code 
obj1 = Base() 
print(obj1.a) 
print(obj1._Base__c)

GeeksforGeeks
GeeksforGeeks

In [4]:
# Python program to demonstrate private members
# of the parent class

class C(object):
	def __init__(self):
		self.c = 21

		# d is private instance variable
		self.__d = 42


class D(C):
	def __init__(self):
		self.e = 84
		C.__init__(self)

object1 = D()

# produces an error as d is private instance variable
print(object1.c)
print(object1._C__d)

21
42

# MULTI LEVEL-- 1 Parent , Multiple childs

In [5]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species
        
    def show_details(self):
        print(f"Name: {self.name}")
        print(f"Species: {self.species}")
        
class Dog(Animal):
    def __init__(self, name, breed):
        Animal.__init__(self, name, species="Dog")
        self.breed = breed
        
    def show_details(self):
        Animal.show_details(self)
        print(f"Breed: {self.breed}")
        
class GoldenRetriever(Dog):
    def __init__(self, name, color):
        Dog.__init__(self, name, breed="Golden Retriever")
        self.color = color
        
    def show_details(self):
        Dog.show_details(self)
        print(f"Color: {self.color}")

o = Dog("tommy", "Black")
o.show_details()

Name: tommy
Species: Dog
Breed: Black

In [11]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
        
    def details(self):
        print(f"Name:{self.name}")
        print(f"Species:{self.species}")
        
class Dog(Animal):
    def __init__(self,name,breed):
        Animal.__init__(self,name,species="Dog")
        self.breed=breed
        
    def details(self):
        Animal.details(self)
        print(f"Breed :{self.breed}")
        
class Bulldog(Dog):
    def __init__(self,name,color):
        Dog.__init__(self,name,breed="Bulldog")
        self.color=color
        
    def details(self):
        Dog.details(self)
        print(f"Color :{self.color}")
# i=Animal("sh",'kj')
# i.details()

o=Dog("Castro","Lab")
o.details()


p=Bulldog("Tommy","Black")
p.details()

Name:Castro
Species:Dog
Breed :Lab
Name:Tommy
Species:Dog
Breed :Bulldog
Color :Black

In [20]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
        
    def show(self):
        print(f"Name :{self.name}")
        print(f"Species :{self.species}")
    
class Cat(Animal):
    def __init__(self,name,breed):
        Animal.__init__(self,name,species="Cat")
        self.breed=breed
        
    def show(self):
        Animal.show(self)
        print(f"Breed :{self.breed}")
        
class Pursian(Cat):
    def __init__(self,name,color):
        Cat.__init__(self,name,breed="Pursian")
        self.color=color
        
    def show(self):
        Cat.show(self)
        print(f"Color :{self.color}")



o=Pursian("Rubyy","White")
print(len(o.name))
o.show()

5
Name :Rubyy
Species :Cat
Breed :Pursian
Color :White

In [33]:
class Student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
        
    def average(self):
        sum=0
        for i in self.marks: 
            sum+=i
        print(f"Name is {self.name} and Average score {sum/3}")

o=Student("Rohan",[36,35,36])
o.average()
del (o.name)
print(o.name)

Name is Rohan and Average score 35.666666666666664

AttributeError: 'Student' object has no attribute 'name'

In [26]:
class Account:
    def __init__(self,bal,acc_no):
        self.bal=bal
        self.acc_no=acc_no
        
    def credit(self,amount):
        self.amount=amount
        self.bal+=amount
        print(f"Account {self.acc_no} Credited with {self.amount}Rs.,Aval Balance {self.bal}Rs.")
        
    def debit(self,amount):
        self.amount=amount
        self.bal-=amount
        print(f"Account {self.acc_no} Debited with {self.amount}Rs.,Aval Balance {self.bal}Rs.")
        
    def passBook(self):
        return (f"Avaliable Balance :{self.bal}Rs.")

o=Account(5000,"969066XXX")
print("Available Balance",o.bal,"Rs")
o.credit(500)
o.debit(2000)
o.passBook()

Available Balance 5000 Rs
Account 969066XXX Credited with 500Rs.,Aval Balance 5500Rs.
Account 969066XXX Debited with 2000Rs.,Aval Balance 3500Rs.

'Avaliable Balance :3500Rs.'

# Method Overiding

In [42]:
class shape:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        
    def area(self):
        return self.x*self.y
    
class Circle(shape):
    def __init__(self,radius):
        self.radius=radius
        super().__init__(radius,radius)
        
    def area(self):
        return 3.14* super().area()
    
rec=shape(2,3)
rec.area()

cir=Circle(2)
cir.area()

12.56

In [71]:
import os

if(not os.path.exists("Cat")):
    os.mkdir("Cat")
    
for i in range(0,100):
    os.rename(f"Cat/Day{i+1}",f"Cat/Tues{i+1}")

In [74]:
 with open("myfile.txt","w") as f:
    f.write("Hello Shub")

In [77]:
with open("myfile.txt","a") as f:
    f.write(" Good Morning")

In [80]:
with open("myfile.txt","r") as f:
    f.readline()

In [95]:
class Employee:
    def __init__(self,name,id):
        self.name=name
        self.id=id
        
class Programmer(Employee):
    def __init__(self,name,id,lang):
        super().__init__(name,id)
        self.lang=lang
        
P1=Programmer("Shub","123","Hindi")
print(P1.lang)
print(P1.name)
print(P1.id)

Hindi
Shub
123